<!DOCTYPE html>
<html lang="ja" class="h-100">

<head>
  <title>
    <%= title %>
  </title>
  <!-- cssの読み込み -->
  <%- include('./_share/stylesheets.ejs') %>
</head>

<body class="d-flex flex-column h-100">
  <header>
    <%- include('./_share/navbar.ejs') %>
  </header>

  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h1>ようこそ、<%= name %>さん</h1>

    </div>
  </main>

  <%- include('./_share/footer.ejs') %>
    <%- include('./_share/javascripts.ejs') %>



</body>

</html>